.date_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

.date_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date_box h1 {
    font-size: 25px;
    font-weight: 400;
    color: #089BAB;
}

.date_box div {
    display: flex;
    gap: 0.3rem;
}

.date_box div p {
    font-size: 14px;
    font-weight: 500;
}

.date_box div:nth-child(2) svg {
    width: 24px;
    height: 24px;

}

.advice_box {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.advice_box h1 {
    font-size: 25px;
    color: #089BAB;

}



.advice_box div p:first-child {
    font-weight: 600;
    font-size: 14px;
}

.advice_box div a {
    color: red;
    font-size: 12px;
    font-weight: 400;
    color: #089BAB;
}

.date_container {
    margin-top: 1.4rem;
}

.slider {
    margin-top: 7rem;
    margin-left: -1rem;
    position: absolute;
}